.main-app {
	position: fixed;
	height: 100%;
	width: 100%;
}

.app-title {
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, white, blue);
    color: transparent;
    -webkit-background-clip: text;
    justify-content: center;
    display: flex;
}

.welcome-header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
}


